.home-container{
    padding: 30px 6%;
    width: 100%;
}

.home-top>h1{
    font-size: clamp(20px,6vw,50px)!important;
    font-weight: bold;
}


.explore-services-btn{
    background-color: transparent;
    border: 1px solid var(--color-navyblue);
    padding: 14px 32px;
    border-radius: 35px;
    transition: all 0.4s ease-in-out;
}

.explore-services-btn>a{
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
    color: var(--color-navyblue) !important;
}

.explore-services-btn>i{
    transition: all 0.8s ease-in-out;
    font-size: 120%;
}

.explore-services-btn:hover{
    background-color: var(--color-tealblue);
    border-color: transparent;
}

.explore-services-btn:hover a{
    color: var(--color-contrast) !important;
}

.explore-services-btn:hover i{
    color: var(--color-contrast) !important;
    display: inline-block;
    transform: translateX(10px);
}


.abstract-img{
    width: 95%;
    height: 75%;
    animation: float-up-down 3s ease-in-out infinite;
    
}

@keyframes float-up-down {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(3%);
    }
    
}

