.notfound-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
  padding: 0 5%;
}

.notfound-container>button{
    background-color: var(--color-tealblue);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notfound-container>p{
    font-weight: 500;
}